[Desktop Entry]
Name=Fleet 1.23.175 Public Preview
Exec="/home/stian/.local/share/JetBrains/Toolbox/apps/fleet/bin/Fleet" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/stian/.local/share/JetBrains/Toolbox/dotDesktopIcons/jetbrains-fleet-e7165c7b-b69f-40fb-83fd-d9c237d6d746.desktop.icon.png
Comment=The next-generation IDE by JetBrains
StartupWMClass=jetbrains-fleet
